PresentationLayer/Connected Services/ProfileService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfBussinesLogicLayerLibrary.ModelsDTO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreateEditeProfileContract_AddProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProfile" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeProfileContract_AddProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeProfileContract_EditeProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:EditeProfile" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeProfileContract_EditeProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditeProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeProfileContract_GetProfileDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileDTO" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeProfileContract_GetProfileDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileDTOResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeProfileContract_GetProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfile" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeProfileContract_GetProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreateEditeProfileContract">
    <wsdl:operation name="AddProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeProfileContract/AddProfile" message="tns:ICreateEditeProfileContract_AddProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeProfileContract/AddProfileResponse" message="tns:ICreateEditeProfileContract_AddProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditeProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeProfileContract/EditeProfile" message="tns:ICreateEditeProfileContract_EditeProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeProfileContract/EditeProfileResponse" message="tns:ICreateEditeProfileContract_EditeProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeProfileContract/GetProfileDTO" message="tns:ICreateEditeProfileContract_GetProfileDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeProfileContract/GetProfileDTOResponse" message="tns:ICreateEditeProfileContract_GetProfileDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeProfileContract/GetProfile" message="tns:ICreateEditeProfileContract_GetProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeProfileContract/GetProfileResponse" message="tns:ICreateEditeProfileContract_GetProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Profile" type="tns:ICreateEditeProfileContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProfile">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeProfileContract/AddProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditeProfile">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeProfileContract/EditeProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileDTO">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeProfileContract/GetProfileDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeProfileContract/GetProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="Profile" binding="tns:Profile">
      <soap:address location="http://localhost:8738/Design_Time_Addresses/service/ProfileService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>