PresentationLayer/Connected Services/CardService/CardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBussinesLogicLayerLibrary.ModelsDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreateEditeCardContract_CreateCard_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCard" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeCardContract_CreateCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCardResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeCardContract_EditeCard_InputMessage">
    <wsdl:part name="parameters" element="tns:EditeCard" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeCardContract_EditeCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditeCardResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeCardContract_DeleteCard_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCard" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeCardContract_DeleteCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCardResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeCardContract_GetAllColumnCards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllColumnCards" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeCardContract_GetAllColumnCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllColumnCardsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeCardContract_GetAllCardsIncludeAttach_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCardsIncludeAttach" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeCardContract_GetAllCardsIncludeAttach_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCardsIncludeAttachResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreateEditeCardContract">
    <wsdl:operation name="CreateCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeCardContract/CreateCard" message="tns:ICreateEditeCardContract_CreateCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeCardContract/CreateCardResponse" message="tns:ICreateEditeCardContract_CreateCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditeCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeCardContract/EditeCard" message="tns:ICreateEditeCardContract_EditeCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeCardContract/EditeCardResponse" message="tns:ICreateEditeCardContract_EditeCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeCardContract/DeleteCard" message="tns:ICreateEditeCardContract_DeleteCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeCardContract/DeleteCardResponse" message="tns:ICreateEditeCardContract_DeleteCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnCards">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeCardContract/GetAllColumnCards" message="tns:ICreateEditeCardContract_GetAllColumnCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeCardContract/GetAllColumnCardsResponse" message="tns:ICreateEditeCardContract_GetAllColumnCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCardsIncludeAttach">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeCardContract/GetAllCardsIncludeAttach" message="tns:ICreateEditeCardContract_GetAllCardsIncludeAttach_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeCardContract/GetAllCardsIncludeAttachResponse" message="tns:ICreateEditeCardContract_GetAllCardsIncludeAttach_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Card" type="tns:ICreateEditeCardContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCard">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeCardContract/CreateCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditeCard">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeCardContract/EditeCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCard">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeCardContract/DeleteCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnCards">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeCardContract/GetAllColumnCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCardsIncludeAttach">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeCardContract/GetAllCardsIncludeAttach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CardService">
    <wsdl:port name="Card" binding="tns:Card">
      <soap:address location="http://localhost:8735/Design_Time_Addresses/service/CardService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>