PresentationLayer/Connected Services/BoardService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BoardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfBussinesLogicLayerLibrary.ModelsDTO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreateEditeBoardContract_CreateBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBoard" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_CreateBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBoardResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_DeleteBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBoard" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_DeleteBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBoardResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_EditeBoardName_InputMessage">
    <wsdl:part name="parameters" element="tns:EditeBoardName" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_EditeBoardName_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditeBoardNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_GetAllUsersBoards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersBoards" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_GetAllUsersBoards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersBoardsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_GetBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBoard" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_GetBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBoardResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_GetAllUsersBoardsIncludColumns_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersBoardsIncludColumns" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_GetAllUsersBoardsIncludColumns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersBoardsIncludColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_GetCurrentUserBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserBoard" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeBoardContract_GetCurrentUserBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserBoardResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreateEditeBoardContract">
    <wsdl:operation name="CreateBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/CreateBoard" message="tns:ICreateEditeBoardContract_CreateBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/CreateBoardResponse" message="tns:ICreateEditeBoardContract_CreateBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/DeleteBoard" message="tns:ICreateEditeBoardContract_DeleteBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/DeleteBoardResponse" message="tns:ICreateEditeBoardContract_DeleteBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditeBoardName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/EditeBoardName" message="tns:ICreateEditeBoardContract_EditeBoardName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/EditeBoardNameResponse" message="tns:ICreateEditeBoardContract_EditeBoardName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersBoards">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/GetAllUsersBoards" message="tns:ICreateEditeBoardContract_GetAllUsersBoards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/GetAllUsersBoardsResponse" message="tns:ICreateEditeBoardContract_GetAllUsersBoards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/GetBoard" message="tns:ICreateEditeBoardContract_GetBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/GetBoardResponse" message="tns:ICreateEditeBoardContract_GetBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersBoardsIncludColumns">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/GetAllUsersBoardsIncludColumns" message="tns:ICreateEditeBoardContract_GetAllUsersBoardsIncludColumns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/GetAllUsersBoardsIncludColumnsResponse" message="tns:ICreateEditeBoardContract_GetAllUsersBoardsIncludColumns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/GetCurrentUserBoard" message="tns:ICreateEditeBoardContract_GetCurrentUserBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeBoardContract/GetCurrentUserBoardResponse" message="tns:ICreateEditeBoardContract_GetCurrentUserBoard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BoardService" type="tns:ICreateEditeBoardContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBoard">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeBoardContract/CreateBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBoard">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeBoardContract/DeleteBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditeBoardName">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeBoardContract/EditeBoardName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersBoards">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeBoardContract/GetAllUsersBoards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoard">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeBoardContract/GetBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersBoardsIncludColumns">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeBoardContract/GetAllUsersBoardsIncludColumns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserBoard">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeBoardContract/GetCurrentUserBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BoardService">
    <wsdl:port name="BoardService" binding="tns:BoardService">
      <soap:address location="http://localhost:8734/Design_Time_Addresses/service/Board" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>