TestClientConsole/Connected Services/ColumnServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBussinesLogicLayerLibrary.ModelsDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBussinesLogicLayerLibrary.ModelsDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8736/Design_Time_Addresses/service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" />
  <xs:complexType name="ColumnDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" minOccurs="0" name="Cards" nillable="true" type="q1:ArrayOfCard" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnDTO" nillable="true" type="tns:ColumnDTO" />
  <xs:complexType name="BoardDTO">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" minOccurs="0" name="Columns" nillable="true" type="q2:ArrayOfColumn" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" minOccurs="0" name="Team" nillable="true" type="q3:Team" />
      <xs:element minOccurs="0" name="TeamId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoardDTO" nillable="true" type="tns:BoardDTO" />
  <xs:complexType name="ArrayOfColumnDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnDTO" nillable="true" type="tns:ColumnDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumnDTO" nillable="true" type="tns:ArrayOfColumnDTO" />
</xs:schema>