TestClientConsole/Connected Services/AttachmentServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBussinesLogicLayerLibrary.ModelsDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBussinesLogicLayerLibrary.ModelsDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8741/Design_Time_Addresses/service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" />
  <xs:complexType name="AttachmentDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" minOccurs="0" name="Card" nillable="true" type="q1:Card" />
      <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachmentDTO" nillable="true" type="tns:AttachmentDTO" />
  <xs:complexType name="CardDTO">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" minOccurs="0" name="Attachments" nillable="true" type="q2:ArrayOfAttachment" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" minOccurs="0" name="Column" nillable="true" type="q3:Column" />
      <xs:element minOccurs="0" name="ColumnId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" minOccurs="0" name="Users" nillable="true" type="q4:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardDTO" nillable="true" type="tns:CardDTO" />
  <xs:complexType name="ArrayOfAttachmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentDTO" nillable="true" type="tns:AttachmentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachmentDTO" nillable="true" type="tns:ArrayOfAttachmentDTO" />
</xs:schema>