TestClientConsole/Connected Services/UserServiceReference/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBussinesLogicLayerLibrary.ModelsDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBussinesLogicLayerLibrary.ModelsDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8740/Design_Time_Addresses/service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" minOccurs="0" name="Profile" nillable="true" type="q1:Profile" />
      <xs:element minOccurs="0" name="ProfileId" nillable="true" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" minOccurs="0" name="Team" nillable="true" type="q2:ArrayOfTeam" />
      <xs:element minOccurs="0" name="TeamId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
</xs:schema>