TestClientConsole/Connected Services/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8740/Design_Time_Addresses/service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8740/Design_Time_Addresses/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8740/Design_Time_Addresses/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBussinesLogicLayerLibrary.ModelsDTO" />
      <xsd:import schemaLocation="http://localhost:8740/Design_Time_Addresses/service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer.cs.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreateEditeUserContract_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeUserContract_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeUserContract_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeUserContract_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeUserContract_EditeUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditeUser" />
  </wsdl:message>
  <wsdl:message name="ICreateEditeUserContract_EditeUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditeUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreateEditeUserContract">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeUserContract/AddUser" message="tns:ICreateEditeUserContract_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeUserContract/AddUserResponse" message="tns:ICreateEditeUserContract_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeUserContract/DeleteUser" message="tns:ICreateEditeUserContract_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeUserContract/DeleteUserResponse" message="tns:ICreateEditeUserContract_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditeUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEditeUserContract/EditeUser" message="tns:ICreateEditeUserContract_EditeUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEditeUserContract/EditeUserResponse" message="tns:ICreateEditeUserContract_EditeUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="User" type="tns:ICreateEditeUserContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeUserContract/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeUserContract/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditeUser">
      <soap:operation soapAction="http://tempuri.org/ICreateEditeUserContract/EditeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="User" binding="tns:User">
      <soap:address location="http://localhost:8740/Design_Time_Addresses/service/UserService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>